* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.container {
  width: 100%;
  min-height: 100vh;
  background: #5c539d;
}

.container h2 {
  color: #fff;
  font-size: 32px;
  padding: 50px 0;
  text-align: center;
}

.prize-row {
  width: 90%;
  max-width: 1100px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minimax(250px, 1fr));
  grid-gap: 25px;
}

.prize-col {
  background: #1f283b;
  padding: 10% 15%;
  border-radius: 10px;
  color: #fff;
  text-align: center;
}

.prize-col p {
  font-size: 22px;
}

.prize-col h3 {
  font-size: 44px;
  margin: 20px 0 40px;
  font-weight: 500;
}

.prize-col h3 span {
  font-size: 16px;
}

.prize-col ul {
  text-align: left;
  margin: 20px 0;
  color: #ddd;
  list-style: none;
}

.prize-col ul li {
  margin: 15px 0;
}

.prize-col ul li::before {
  content: '\2020';
  color: #e33058;
  font-weight: bold;
  margin-right: 8px;
}

.prize-col button {
  width: 100%;
  padding: 14px 0;
  background: transparent;
  color: #fff;
  font-size: 15px;
  border: 1px solid #e33058;
  border-radius: 6px;
  margin-top: 30px;
  cursor: pointer;
  transition: background 0.5s;
}

.prize-col button:hover {
  background: #e33058;
}