* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  background: white;
  min-height: 500px;
  max-width: 800px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0.5rem 1.5rem;
}

.left {
  flex-basis: 50%;
}

.right {
  flex-basis: 50%;
}

.left h3 {
  margin-top: 1rem;
  color: #fff;
}

.right h3 {
  margin-top: 1rem;
  color: #fff;
}

.left button {
  text-decoration: none;
  display: inline-block;
  color: #fff;
  font-size: 24px;
  border: 2px solid #fff;
  padding: 14px 70px;
  border-radius: 50px;
  margin-top: 20px;
}

.left button:hover {
  background: #fff;
}

.right button {
  text-decoration: none;
  display: inline-block;
  color: #fff;
  font-size: 24px;
  border: 2px solid #fff;
  padding: 14px 70px;
  border-radius: 50px;
  margin-top: 20px;
}

.right button:hover {
  background: #fff;
}